@use "../helpers/index" as*;
@use "../components/components" as*;

.loading {
  &.hide-load {
    background-color: transparent;
    opacity: 0;
    transition: var(--transition) ease-in;
    -webkit-transition: var(--transition) ease-in;
    -moz-transition: var(--transition) ease-in;
    -ms-transition: var(--transition) ease-in;
    -o-transition: var(--transition) ease-in;
  }

  .load {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 100000;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    opacity: 1;

    .loader {
      position: absolute;
      margin: 75px auto;
      width: 150px;
      height: 150px;
      display: block;
      overflow: hidden;

      div {
        height: 100%;
      }

    }

    .loader1,
    .loader1 div {
      border-radius: 50%;
      padding: 7px;
      border: 3px solid transparent;
      animation: rotate1076 linear 3.5s infinite;
      border-top-color: white;
      border-bottom-color: var(--secondary-color);
    }

    .loader,
    .loader * {
      will-change: transform;
    }
  }
}


@keyframes rotate1076 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}